<div class="container-xxl mt-5">
  <div class="row border-top-custom py-4">
    <div class="d-flex px-0">
        <a class="me-4" href="https://amoskhachut.fr" target="_blank">amoskhachut.fr</a>
        <a class="me-4" href="https://www.instagram.com/superelgato/" target="_blank">Instagram</a>
        <a href="https://www.instagram.com/superelgato/" target="_blank">Conditions générales de vente</a>
    </div>
  </div>
</div>
<style>
  footer a {
    font-size: 1.97rem;
  }
</style>

{{ if .IsHome }}
{{ "<!-- JS Plugins -->" | safeHTML }}
  {{ range .Site.Params.pluginshome.js}}
      <script src="{{ .URL | absURL }}"></script>
  {{ end }}
<script type="module">
import PhotoSwipeLightbox from '../assets/js/photoswipe/dist/photoswipe-lightbox.esm.js';
const lightbox = new PhotoSwipeLightbox({
  gallery: '#gallery a',
  bgOpacity: 1,
  pswpModule: () => import('../assets/js/photoswipe/dist/photoswipe.esm.js')
});
lightbox.init();
</script>
{{end}}
{{ if eq .Section "shop" }}
  {{ if (isset .Params "size") }} 
    <script type="module">
      import PhotoSwipeLightbox from '/assets/js/photoswipe/dist/photoswipe-lightbox.esm.js';
      const lightbox = new PhotoSwipeLightbox({
        gallery: '#gallery',
        children: 'a',
        bgOpacity: 1,
        pswpModule: () => import('/assets/js/photoswipe/dist/photoswipe.esm.js')
      });
      lightbox.init();
      </script>
  {{ end }}
  
{{end}}
