{{ define "main" }}
<div class="container-xxl single-txt">
	<div class="row g-5">
		<div id="gallery" class="col-lg-4 partie">
			<a data-pswp-width="900" class="border-radius" data-pswp-height="1273" target="_blank" href="/shop/images/{{ with .Params.thumbnail }}{{ .}}{{ end }}">
      			<img src="/shop/images/{{ with .Params.thumbnail }}{{ .}}{{ end }}" class="img-fluid border-radius mb-4" alt="{{ with .Params.alt }}{{ .}}{{ end }}"/>
			</a>
			{{ with .Params.images}}
			<div class="d-flex justify-content-start">
				{{ range . }}
					<div class="col-lg-3 me-4">
						<a data-pswp-width="900" class="border-radius" data-pswp-height="1273" target="_blank" href="/shop/images/{{.image}}">
							<img src="/shop/images/{{.image}}" class="img-fluid mb-3" style="border-radius: 8px;" alt="{{.alt_gallery}}"/>
						</a>
						</div>
				{{end}}
			</div>
			{{end}}
		</div>
		<div class="col-lg-6 offset-lg-2">
			<a class="back mt-3" href="/shop" target="_self">retour shop</a>
      <h1 class="mt-3 mb-3">{{.Title}}</h1>
			{{ with .Params.size }}
				<p class="border-top-custom date pt-3 mt-3 mb-5">{{.}}</p>
			{{ end }}
			{{ .Content | safeHTML }}
			{{ with .Params.price }}
        <p class="border-top-custom pt-5 mt-5 mb-3">{{.}}€</p>
      {{ end }}
			<a href="/checkout?shop={{ .File.BaseFileName }}" class="btn-global">Ajouter au panier</a>
		</div>
	</div>
</div>
{{ end }}
