{{ define "main" }}
<div class="container-xxl">
  <section id="gallery" class="row">
  {{ range where site.RegularPages "Section" "shop" }}
    <div class="col-lg-4 col-12 p-5">
      <a class="border-radius" href="{{ .RelPermalink }}">
        <img src="/shop/images/{{ with .Params.thumbnail }}{{ .}}{{ end }}" class="img-fluid border-radius mb-3" alt="{{ with .Params.alt }}{{ .}}{{ end }}"/>
      </a>
      <div class="content-img text-center">
        <h2 class="mb-0">{{ .Title }}</h2>
        {{ with .Params.price }}
          <p class="mb-0">{{.}}€</p>
        {{end}}
        {{ with .Params.size }}
           <p class="mb-0">{{.}}</p>
        {{end}} 
      </div>
      
    </div>
  {{ end }}
  </sectuon>
</div>
{{ end }}